svg {
  height: 100%;
  width: 100%;
}
.land:hover {
  fill: #880e4f;
  cursor: grab;
}

.americas :hover {
  fill: #880e4f;
  cursor: grab;
}
// #asia:hover {
//   fill: blue;
// }
// #europe:hover {
//   fill: green;
// }
// #africa:hover {
//   fill: yellow;
// }

// #north_america:hover {
//   fill: red;
// }

// #south_america:hover {
//   fill: purple;
// }
// #oceania:hover {
//   fill: orangered;
// }
