<section class="section row">
  <!-- title -->
  <!-- <h1>AROUND THE WORLD</h1> -->

  <app-world-map class="col-md-9 d-none d-md-block"></app-world-map>

  <div class="regionNames col-12 col-md-3">
    <!-- <div class="title">
      Around the world.
    </div> -->
    <!-- <p>click on a region to explore!</p> -->
    <ul>
      <li class="land">Asia</li>
      <li>Europe</li>
      <li>North America</li>
      <li>South America</li>
      <li>Oceania</li>
      <li>Africa</li>
    </ul>
  </div>

  <!-- <div class="section2">
    <div class="md-form input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search for a country"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button
          mdbBtn
          color="elegant"
          size="md"
          class="m-0 px-3 py-2"
          type="button"
          id="button-addon2"
          mdbWavesEffect
        >
          Go!
        </button>
      </div>
    </div>
    <h1>OR</h1>
    <div>seclect a region to explore</div>
    <div class="regions">
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Africa
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Asia
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Europe
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Americas
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Oceania
      </button>
    </div>
  </div> -->
</section>
