<section class="section row">
  <!-- title -->

  <app-world-map class="col-md-9 d-none d-md-block"></app-world-map>

  <div class="bar col-12 col-md-3">
    <!-- <div class="title">
      Around the world.
    </div> -->
    <!-- <p>click on a region to explore!</p> -->

    <nav SideClass="navbar navbar-dark" class="z-index-1">
      <div>
        <h6 class="m-0">Around the world</h6>
      </div>
    </nav>

    <div class="regionNames">
      <h6 class="d-none d-md-inline">
        Select a region on the map to explore!
      </h6>
      <h6 class="d-md-none">Select a region to explore</h6>

      <ul class="regionsUl">
        <li (click)="onClick('asia')">Asia</li>
        <li (click)="onClick('europe')">Europe</li>
        <li (click)="onClick('north_america')">North America</li>
        <li (click)="onClick('south_america')">South America</li>
        <li (click)="onClick('oceania')">Oceania</li>
        <li (click)="onClick('africa')">Africa</li>
      </ul>
    </div>
  </div>

  <!-- <div class="section2">
    <div class="md-form input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search for a country"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button
          mdbBtn
          color="elegant"
          size="md"
          class="m-0 px-3 py-2"
          type="button"
          id="button-addon2"
          mdbWavesEffect
        >
          Go!
        </button>
      </div>
    </div>
    <h1>OR</h1>
    <div>seclect a region to explore</div>
    <div class="regions">
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Africa
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Asia
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Europe
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Americas
      </button>
      <button
        mdbBtn
        type="button"
        color="elegant"
        mdbWavesEffect
        (click)="onClick($event)"
      >
        Oceania
      </button>
    </div>
  </div> -->
</section>
